{% layout 'layout.liquid'%}
{% block content %}
  <div>
    <br>
    <h3 class="display-6">My Crafts</h3>
    <div class="row">
      {% for craft in crafts %}
        <div class="card" style="width: 18rem;">
          <h4 class="card-header">{{ craft.name }}
          </h4>
          <div class="card-body">
            <h7 class="card-title">
              Materials:
              {{ craft.materials }}
            </h7>
            <br>
            <br>
            <p class="card-text">
              In Hand:
              {{ craft.inHand }}
            </p>
            <p class="card-text">
              Stored:
              {{ craft.stored }}
            </p>
            <p class="card-text">
              Approximate Time to Complete:
              {{ craft.time }}
            </p>
            <a href="/crafts/{{ craft.id }}" class="btn btn-info">
              View
              {%- comment -%} {{ craft.name }} {%- endcomment -%}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}}}}