{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h2>
            {{ craft.name }} -
            {% if craft.inHand %}
            All materials are in hand and ready to go!
            {% else %}
            Need to collect some materials still...
            {%endif%}
        </h2>
        <h3>Materials: {{ craft.materials }}</h3>
        <h6>Stored: {{ craft.stored }}</h6>
        <h6>Approximate Time to Complete: {{ craft.time }}</h6>
        {% if craft.owner == userId %}
        <div class="btn-group">

            <a href="/crafts/edit/{{ craft.id }}" class="btn btn-primary">Edit</a>
            <form action="/crafts/{{ craft.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
        {% endif %}
    </article>
</div>
    <hr>
    <h4>comments</h4>
    <hr>
    {% if loggedIn %}
        <div class="col-md-6">
            <form action="/comments/{{crafts.id}}" method="POST">
                <fieldset>
                    <legend>Add Comment</legend>
                    <label class="form-label">comment:</label>
                    <input class="form-control mb-1" type="text" placeholder="enter your comment..." name="note" required>
                </fieldset>
                <input class="btn btn-success" type="submit" value="add comment">
            </form>
        </div>
    {% else %}
        <div class="col-md-6">
            <small>If you'd like to leave a comment, please log in...</small>
        </div>
    {% endif %}
    <hr>
    {% if craft.comments.length > 0%}
        <div class="container-sm justify-content-center">
            <div class="col-md-8 col-lg-6">
                {% for comment in craft.comments %}
                    {% render '../comment.liquid', comment: comment, userId: userId, craft: craft %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <small>no comments yet...</small>
    {% endif %}
{% endblock %}